article a {
  @apply text-teal-300
}

img[src$="#center-img"] {
  max-width: 30%;
  max-height: 50vh;
  margin-left: auto;
  margin-right: auto;
}

img[src$="#right-img"] {
  max-width: 30%;
  max-height: 50vh;
  float: right;
}